//
  Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.login2(ng-controller='SignInCtrl')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/STF-512.png', title='云测平台')

    form(name='signin', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) 请检查下面的错误
        span(ng-show='error.$incorrect', translate) 登录信息不正确
        span(ng-show='error.$server', translate) 服务器错误，请检查日志输出

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='用户名',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(translate) 请输入您的用户名

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='password', name='password', required, type='{{showPassword ? "text" : "password"}}', placeholder='密码',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='current-password')
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='togglePasswordVisible()')
              i.fa(ng-class='showPassword ? "fa-eye-slash" : "fa-eye"')
        .alert.alert-warning(ng-show='signin.password.$dirty && signin.password.$invalid')
          span(translate) 请输入您的密码

      .checkbox.m-t-sm
        label
          input(type='checkbox', ng-model='rememberPassword')
          span(translate) 记住密码

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='登录')


