.bulk-action-panel
  .heading
    i.fa.fa-repeat
    span(translate) 批量重启
  .widget-content.padded
    .form-inline.m-b-sm
      label.radio-inline
        input(type='radio' ng-model='batchSelection.mode' value='all')
        | 全部可用设备
      label.radio-inline
        input(type='radio' ng-model='batchSelection.mode' value='selected')
        | 勾选设备
    device-list-bulk-device-table

    .form-inline
      button.btn.btn-sm.btn-primary(ng-click='runBulkReboot()' ng-disabled='bulkRebootRunning')
        span(translate) 开始
    .m-t-xs(ng-if='bulkRebootProgress.total>0') 执行进度：{{bulkRebootProgress.done}} / {{bulkRebootProgress.total}}
    .m-t-sm(ng-if='bulkRebootResults.length')
      .selectable(ng-repeat='item in bulkRebootResults track by $index')
        span.label(ng-class="item.ok ? 'label-success' : 'label-danger'") {{item.serial}}
        span(ng-if='item.ok')  成功
        span(ng-if='!item.ok')  失败: {{item.error}}
