.bulk-action-panel
  .heading
    i.fa.fa-upload
    span(translate) 批量文件推送
  .widget-content.padded
    .form-inline.m-b-sm
      label.radio-inline
        input(type='radio' ng-model='batchSelection.mode' value='all')
        | 全部可用设备
      label.radio-inline
        input(type='radio' ng-model='batchSelection.mode' value='selected')
        | 勾选设备
    device-list-bulk-device-table

    .form-inline
      .form-group
        span.stf-bulk-file-btn.btn.btn-sm.btn-default
          input(type='file' ngf-select='onBulkPushFiles($files)' ngf-multiple='false')
          | 选择文件
      .form-group
        input.form-control.input-sm(type='text' placeholder='目标路径，例如 /sdcard/Download/' ng-model='bulkPushTarget' style='min-width:300px;')
      .form-group
        span.text-muted(ng-if='bulkPushFiles.length') 已选择 {{bulkPushFiles[0].name}}，点击「开始」上传并推送
        span.text-muted(ng-if='!bulkPushFiles.length') 请先选择文件，填写路径后点「开始」上传并推送
      button.btn.btn-sm.btn-primary(ng-click='runBulkPush()' ng-disabled='bulkPushRunning || !bulkPushFiles.length || !bulkPushTarget')
        span(translate) 开始
    .m-t-xs(ng-if='bulkPushUploadProgress>0') 上传进度：{{bulkPushUploadProgress}}%
    .m-t-xs(ng-if='bulkPushProgress.total>0') 执行进度：{{bulkPushProgress.done}} / {{bulkPushProgress.total}}
    pre.bulk-shell-output(ng-if='bulkPushRunning && bulkPushLiveOutput') {{bulkPushLiveOutput}}
    .m-t-sm(ng-if='bulkPushResults.length')
      .selectable(ng-repeat='item in bulkPushResults track by $index')
        span.label(ng-class="item.ok ? 'label-success' : 'label-danger'") {{item.serial}}
        span(ng-if='item.ok')  成功
        span(ng-if='!item.ok')  失败: {{item.error}}
        pre.bulk-shell-output(ng-if='item.commandOutput') {{item.commandOutput}}
